<template>
  <div class="samples">
    <div class="sample">
      <h3 class="title is-3">API client sample</h3>
      <div class="resources-container">
        <resources class="resources" />
      </div>
    </div>
    <div class="sample">
      <h3 class="title is-3">Vuex sample</h3>
      <div class="counters">
        <Counter class="counter"/>
        <Counter class="counter"/>
        <Counter class="counter"/>
      </div>
    </div>
  </div>
</template>

<script>
import Counter from '~/components/Counter.vue'
import Resources from '~/components/Resources.vue'

export default {
  components: {
    Counter,
    Resources
  }
}
</script>

<style scoped>
.samples {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}

.sample {
  background-color: #ffffff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
  margin-bottom: 40px;
  padding: 20px;
}

.resources-container {
  height: 400px;
  overflow: auto;
}

.counter:not(:last-child) {
  margin-right: 10px;
}
</style>
