html {
  background-color: #eeeeee;
  font-family: Source Sans Pro,　-apple-system,　BlinkMacSystemFont,　Segoe UI,　Roboto,　Helvetica Neue,　Arial,　sans-serif;
  font-size: 16px;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}
