<template>
  <button class="button is-primary" @click="add()">{{ counter }}</button>
</template>

<script>
export default {
  computed: {
    counter () {
      return this.$store.state.counter
    }
  },
  methods: {
    add () {
      this.$store.dispatch('addCounter', 10)
    }
  }
}
</script>

<style scoped>

</style>
