<template>
  <div>
    <nav class="navbar">
      <div class="navbar-brand">
        <div class="navbar-item">
          <button class="button is-white" @click="create()">
            <b-icon pack="fas" icon="plus" size="is-small" />
          </button>
        </div>
        <div class="navbar-item">
          <button class="button is-white" @click="refresh()">
            <b-icon pack="fas" icon="sync-alt" size="is-small" />
          </button>
        </div>
      </div>
    </nav>
    <div class="menu">
      <ul class="menu-list">
        <li v-for="resource in resources" v-bind:key="resource.id">
          <a>{{ resource.name }}</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      resources: []
    }
  },
  async mounted () {
    await this.refresh()
  },
  methods: {
    async refresh () {
      const res = await this.$axios.$get('api/resources')
      this.resources = res.resources
    },
    async create () {
      const date = new Date()

      await this.$axios.$put('api/resources', {
        name: date.toISOString(),
        content: date.toISOString()
      })
      await this.refresh()
    }
  }
}
</script>

<style scoped>
</style>
